@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; text-align: center;">
    <h1 class="animate__animated animate__fadeInDown" style="font-family: 'Dreaming Outloud Pro', 'Cursive'; font-style: italic; color: white; font-size: 2.5rem;">
        Bienvenidos a Yeishop
    </h1>

    <div style="margin-top: 20px;">
        <img src="~/images/logito.png" class="animate__animated animate__zoomIn" height="300" width="300" />
    </div>

    <div style="margin-top: 40px; text-align: center;">
        <h1 style="font-family: 'Dreaming Outloud Pro', 'Cursive'; font-style: italic; color: white;">
            SOMOS SUEÑOS, SOMOS PERSEVERANCIA, SOMOS AMOR<br>"SOMOS UN MUNDO DE COLOR"
        </h1>
    </div>
</div>