@model WebGradu.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
    Layout = "~/Views/Shared/_Vendedor.cshtml";
}

<div class="container mt-5" style="max-width: 900px;">
    <!-- Tamaño reducido -->
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex" style="background-color: #e8e493 ; padding: 20px; border-radius: 4px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <!-- Columna para la imagen y el formulario juntos -->
                <div class="d-flex align-items-center" style="margin-right: 40px;">
                    <img src="~/img/crear_producto.jpg" alt="Imagen del Producto" class="img-fluid" style="max-height: 300px; width: 450px; object-fit: cover; border-radius: 5px;" />
                </div>

                <!-- Columna para el formulario -->
                <div class="card p-4 shadow-sm" style="background-color: #fff7ef ; max-width: 500px;">
                    <form asp-action="Crear" method="post" enctype="multipart/form-data">
                        <h2 class="mb-4 text-center">Crear Producto</h2>

                        <div class="form-group mb-3">
                            <label asp-for="Nombre" class="form-label" style="text-align: left !important;"></label>
                            <input asp-for="Nombre" class="form-control" style="max-width: 450px;" placeholder="Nombre del producto" required />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Descripcion" class="form-label" style="text-align: left !important;"></label>
                            <textarea asp-for="Descripcion" class="form-control" style="max-width: 450px;" rows="3" placeholder="Descripción del producto" required></textarea>
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" style="text-align: left !important;">Precio de Compra</label>
                            <input name="Precio_Compra" class="form-control" style="max-width: 450px;" type="number" step="0.01" placeholder="Precio de Compra" required />
                            <span asp-validation-for="Precio_Compra" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" style="text-align: left !important;">Precio de Venta</label>
                            <input name="Precio_Venta" class="form-control" style="max-width: 450px;" type="number" step="0.01" placeholder="Precio de Venta" required />
                            <span asp-validation-for="Precio_Venta" class="text-danger"></span>
                        </div>



                        <div class="form-group mb-3">
                            <label for="Fk_Categoria" class="form-label" style="text-align: left !important;">Categoría</label>
                            <select asp-for="Fk_Categoria" class="form-control" asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaID", "NombreCategoria"))" style="max-width: 450px;">
                                <option value="">Seleccione una categoría</option>
                            </select>
                            <span asp-validation-for="Fk_Categoria" class="text-danger"></span>
                        </div>


                        <!-- Select para la Categoría -->
                        @* <div class="form-group mb-3">
                        <label for="CategoriaID" class="form-label" style="text-align: left !important;">Categoría</label>
                        <select asp-for="FkCategoria" class="form-control" asp-items="ViewBag.Categorias" style="max-width: 450px;">
                        <option value="">Seleccione una categoría</option>
                        </select>
                        <span asp-validation-for="FkCategoria" class="text-danger"></span>
                        </div> *@

                        <div class="form-group mb-4">
                            <label for="file" class="form-label" style="text-align: left !important;">Subir Foto</label>
                            <input type="file" name="file" class="form-control" style="max-width: 450px;" />
                        </div>

                        <button type="submit" class="btn btn-success" style="width: 80px;">
                            <i class="fa-solid fa-folder-arrow-up"></i> Crear
                        </button>
                    </form>

                    <!-- Incluye SweetAlert -->
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    <script>
                        // Mostrar la alerta si TempData["ProductoCreado"] está presente
                        @if (TempData["ProductoCreado"] != null)
                        {
                            <text>
                                Swal.fire({
                                    title: 'Producto Creado',
                                    text: 'El producto ha sido creado exitosamente.',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                });
                            </text>
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
